[submodule "chapter_08/rayon"]
	path = Chapter08/rayon
	url = https://github.com/rayon-rs/rayon.git
[submodule "chapter_08/rust-threadpool"]
	path = Chapter08/rust-threadpool
	url = https://github.com/rust-threadpool/rust-threadpool.git
[submodule "chapter_09/beamcoin"]
	path = Chapter09/beamcoin
	url = https://github.com/blt/beamcoin.git
[submodule "chapter_10/stdsimd"]
	path = Chapter10/stdsimd
	url = https://github.com/rust-lang-nursery/stdsimd.git
[submodule "chapter_07/tfs"]
	path = Chapter07/tfs
	url = https://github.com/redox-os/tfs.git
[submodule "chapter_07/crossbeam"]
	path = Chapter07/crossbeam
	url = https://github.com/crossbeam-rs/crossbeam.git
[submodule "chapter_07/crossbeam-epoch"]
	path = Chapter07/crossbeam-epoch
	url = https://github.com/crossbeam-rs/crossbeam-epoch.git
[submodule "chapter_06/hopper"]
	path = Chapter06/hopper
	url = https://github.com/postmates/hopper.git
[submodule "chapter_05/hopper"]
	path = Chapter05/hopper
	url = https://github.com/postmates/hopper.git
[submodule "chapter_05/hopper-fuzz"]
	path = Chapter05/hopper-fuzz
	url = https://github.com/blt/hopper-fuzz.git
[submodule "chapter_07/rust"]
	path = Chapter07/rust
	url = https://github.com/rust-lang/rust.git
[submodule "chapter_02/quickcheck"]
	path = Chapter02/quickcheck
	url = https://github.com/BurntSushi/quickcheck.git
[submodule "chapter_04/rust"]
	path = Chapter04/rust
	url = https://github.com/rust-lang/rust.git
[submodule "chapter_03/rust"]
	path = Chapter03/rust
	url = https://github.com/rust-lang/rust.git
[submodule "chapter_02/rust"]
	path = Chapter02/rust
	url = https://github.com/rust-lang/rust.git
